.weather {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

h1.title {
    color: #fff;
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    height: 50px;
    margin: 0, 5, 0, 5;
}
.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/* .current-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
} */

#search-city-button.btn {
    background-color: darkgreen;
    border-color: green;
}

.btn btn-primary {
    background-color: darkgreen;
    border-color: green;
}



html, body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.card {
    background-color: #cce5ff;
}

.card-body {
    background-color: #cce5ff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.days-forecast {
    /* display: flex; */
    text-align: center;
    width: 100%;
    margin: 0 auto;
} 
.weather-cards {
    display: flex;
    gap:20px;
}

.weather-cards .card {
    background-color: darkgreen;
    color: white;
    width: 100%;
    align-items: center;
    list-style: none;
    padding: 18px 16px;
}
.weather {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;


}

.weather-card {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.weather-input
{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}   

.weather-input input {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.weather-content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.weather-info {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.weather-data {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}  

.current-weather {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}



